.App {
  width: 80%;
  margin: 0 auto;
}
.randomDashBorder {
  margin: 1em auto;
  padding: 1rem 2rem;
  width: fit-content;
  display: block;
  border: 3px solid #333333;
  font-size: 1rem;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  text-transform: uppercase;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;

}
.randomDashBorder::before {
  content: '';
  border: 2px solid #353535;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
  border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
}

.editorWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.editorWrapper input {
  width: 80%;
  padding: 20px;
}
.editorWrapper button {
  padding: 10px 15px;
  font-size: 30px;
}

.cartoonBox {
  margin:25px auto;
  padding: 30px;
  min-height: 400px;
  width: 80%;
  background:#fff;
  border: solid black;
  border-width: 3px 3px 5px 5px;
  border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
}